body {
	margin: 0px;
	padding: 0px;
	background-image: url('../Img/Fondo.gif');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.formulario #message{
	margin: 5px 0px 5px 0px;
	padding: 10px;
	width: 100%;
	border-radius: 6px;
	border: 1px solid #FF0000;
	box-sizing: border-box;
	background-color: rgba(255, 0, 0, 0.2);
	opacity: 0.7;
	font-family: Arial;
	color: #FF0000;
	display: none
}

.formulario{
	background-color: #FAFAFA;
	border-radius: 8px;
	width: 350px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #B9B9B9;
	background: #FFF;
	/*box-shadow: 0 0 10px #B5B2B2;*/
}

.formulario input{
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px;
	border-radius: 6px;
	width: 100%;
	border: 1px solid #ccc;
	box-sizing: border-box;
}


.formulario input[type="submit"]{
	background: #1764FF;
	color: #FFF;
	font-size: 17px;
	border: none;
}

.formulario input[type="submit"]:hover{
	background: #4885FF;
	cursor: pointer;
}

.formulario .link{
	display: block;
	text-decoration: none;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px;
	border-radius: 6px;
	width: 100%;
	box-sizing: border-box;
	background: #1764FF;
	color: #FFF;
	font-size: 17px;
	font-family: Arial;
	border: none;
}

.formulario .link:hover{
	background: #4885FF;
}

.formulario p, h1{
	text-align: center;
	color: #2E2E2E;
	font-family: verdana;
	font-weight: normal;
}

.formulario #error{
	margin: 5px 0px 5px 0px;
	padding: 10px;
	width: 100%;
	border-radius: 6px;
	border: 1px solid #FF0000;
	box-sizing: border-box;
	background-color: rgba(255, 0, 0, 0.2);
	opacity: 0.7;
	font-family: Arial;
	color: #FF0000;
	display: none;
}

article{
	width: 100%;
	overflow: hidden;
	position: relative;
	transform: translateY(50%);
}